html {
	background-color: #f0f0f0;
}

body {
	font-family: 'DejaVu Sans', Arial, Helvetica;
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin: 0px auto;
	padding: 20px 20px;
	width: 90%;
}

form fieldset {
	padding-top: 20px;
}

form div {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 1em;
}

form div>label {
	width: 100px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 20px;
	line-height: 20px;
	padding: 0;
	font-weight: bold;
}

form div>input,form div>select {
	height: 20px;
	margin: 0px;
	padding: 0px;
}

form div>ul {
	list-style: none;
	padding: 0;
	vertical-align: top;
}

form div>ul li {
	padding: 0;
	margin-left: 120px;
}

form div.submit {
	margin-top: 40px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	
	background-color: #7583B2;
	border: 1px solid #FFE09C;
}

form div.optionbutton {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

form fieldset.optionfield {
	border-radius: 5px;
	border: 0px solid #ffffff;
	margin: 0px;
	padding: 0px;
}

.list {
	padding-top: 20px;
}

div.odd {
	border-radius: 5px;
	height: 40px;
	background-color: #FFEEC8;
	padding: 5px;
}

div.even {
	border-radius: 5px;
	height: 40px;
	background-color: #B0B9D9;
	padding: 5px;
}

.left {
	display: block;
	float: left;
	width: 50%;
}

.middle {
	display: block;
	float: left;
	width: 25%;
}

.right {
	display: block;
	float: right;
	width: 25%;
}

.bottom {
	margin-top: 10px;
	border-radius: 10px;
	
	background-color: #7583B2;
	border: 1px solid #FFE09C;
	clear: both;
}

.blackoverlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity = 60);
}

.whitecontent {
	display: none;
	position: fixed;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	padding: 16px;
	border: 2px solid black;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.whitecontent table {
	width: 100%;
}

tr {
	background-color: #FFEEC8;
	border-radius: 5px;
	width: 100%;
}

a {
	color: blue;
}