<html>
<head>
<link href="../../resources/css/styles2.css" rel="stylesheet"></link>
<title>popup example</title>
</head>
<body>
	<p>
		This is the main content. To display a lightbox click <a
			href="javascript:void(0)"
			onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">here</a>

	</p>
	<div id="light" class="white_content">
		This is the lightbox content. <a href="javascript:void(0)"
			onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
	</div>
	<div id="fade" class="black_overlay"></div>
</body>
</html>